---
layout: default
---

<div id="intro" style="border: solid 1px #000;">
<p><b>ACL Rolling Review (ARR) is a centralized reviewing service targeting top-tier conferences 
under the <a href="https://aclweb.org">Association for Computational Linguistics</a>.</b> 
Built atop the OpenReview platform, ARR implements the initial stages of conference reviewing in 2 month cycles, 
culminating in the release to authors of reviews and a metareview. 
Reviews are decoupled from acceptance decisions: as long as a paper has reviews and has not yet been accepted by a venue,
the authors can choose among participating venues, whose program committees will consider the already-reviewed papers for acceptance.
If authors are not satisfied with the reviews, they may submit a revision to a subsequent ARR cycle 
and have it reviewed by the same or new reviewers.
For further information about submitting, see the page for <a href="https://aclrollingreview.org/authors">Authors</a>.</p>
</div>

<p>ARR began with a <a href="https://www.aclweb.org/adminwiki/index.php?title=ACL_Rolling_Review_Proposal">2020 proposal</a>.
As of mid-2023, it has evolved with experience and feedback from the community. 
<b>In 2024, the ACL, EACL, and NAACL main conferences will use ARR as the sole submission system.</b>
Other venues may adopt ARR as well. The ARR team continues to welcome input on the design of the review process.</p>

<p>Follow us on <a href="https://twitter.com/ReviewAcl"><span class="svg-icon twitter"/> Twitter</a> and <a href="https://www.facebook.com/aclrollingreview"><span class="svg-icon facebook"/> Facebook</a>.</p>

<h1>Updates</h1>

 <div class="posts">
   {% for post in paginator.posts %}
     <article class="post">
       <a href="{{ site.baseurl }}{{ post.url }}">
         <h2>{{ post.title }}</h2>

         <div>
           <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
         </div>
       </a>
       <div class="entry">
         {{ post.excerpt }}
       </div>

       <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
     </article>
   {% endfor %}

   <!-- pagination -->
   {% if paginator.total_pages > 1 %}
   <div class="pagination">
     {% if paginator.previous_page %}
       <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
     {% else %}
       <span>&laquo; Prev</span>
     {% endif %}

     {% for page in (1..paginator.total_pages) %}
       {% if page == paginator.page %}
         <span class="webjeda">{{ page }}</span>
       {% elsif page == 1 %}
         <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
       {% else %}
         <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
       {% endif %}
     {% endfor %}

     {% if paginator.next_page %}
       <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
     {% else %}
       <span>Next &raquo;</span>
     {% endif %}
   </div>
   {% endif %}
 </div>
