---
layout: default
---

<div id="intro" style="line-height: 150%; border: solid 1px #8EB8E1; padding-left: 15px; padding-right: 15px">
<p><b>ACL Rolling Review (ARR) is a centralized reviewing service targeting top-tier conferences 
under the <a href="https://aclweb.org">Association for Computational Linguistics</a>.</b></p>
<ul style="list-style-type: square">
 <li style="margin-bottom: 5px">Built atop the OpenReview platform, ARR implements the initial stages of conference reviewing in 2 month cycles, 
culminating in the release to authors of reviews and a metareview.</li>
 <li style="margin-bottom: 5px">Authors may submit a revision to a subsequent ARR cycle and request the same or new reviewers.</li>
 <li style="margin-bottom: 5px">Reviews are decoupled from acceptance decisions: as long as a paper has reviews and has not yet been accepted by a venue,
the authors can choose among participating venues, whose program committees will consider the already-reviewed papers for acceptance.</li>
</ul>
<p>For further information about submitting, see the page for <a href="https://aclrollingreview.org/authors">Authors</a>.</p>
</div>

<p style="line-height: 150%">ARR began with a <a href="https://www.aclweb.org/adminwiki/index.php?title=ACL_Rolling_Review_Proposal">2020 proposal</a>.
As of mid-2023, it has evolved with experience and feedback from the community. 
<b>In 2024, the ACL, EACL, NAACL, and EMNLP main conferences will use ARR as the sole submission system.</b>
Other venues may adopt ARR as well. The ARR team continues to welcome input on the design of the review process.</p>

<p><span style="vertical-align: middle">Follow us on</span> <a href="https://twitter.com/ReviewAcl" class="svg-icon twitter" style="vertical-align: middle;"></a>&nbsp;<a href="https://twitter.com/ReviewAcl" style="vertical-align: middle;">Twitter</a> <span style="vertical-align: middle">and</span> <a href="https://www.facebook.com/aclrollingreview" class="svg-icon facebook" style="vertical-align: middle"></a>&nbsp;<a href="https://www.facebook.com/aclrollingreview" style="vertical-align: middle">Facebook</a><span style="vertical-align: middle">.</span></p>

<h1>Updates</h1>

 <div class="posts">
   {% for post in paginator.posts %}
     <article class="post">
       <a href="{{ site.baseurl }}{{ post.url }}">
         <h2>{{ post.title }}</h2>

         <div>
           <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
         </div>
       </a>
       <div class="entry">
         {{ post.excerpt }}
       </div>

       <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
     </article>
   {% endfor %}

   <!-- pagination -->
   {% if paginator.total_pages > 1 %}
   <div class="pagination">
     {% if paginator.previous_page %}
       <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
     {% else %}
       <span>&laquo; Prev</span>
     {% endif %}

     {% for page in (1..paginator.total_pages) %}
       {% if page == paginator.page %}
         <span class="webjeda">{{ page }}</span>
       {% elsif page == 1 %}
         <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
       {% else %}
         <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
       {% endif %}
     {% endfor %}

     {% if paginator.next_page %}
       <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
     {% else %}
       <span>Next &raquo;</span>
     {% endif %}
   </div>
   {% endif %}
 </div>
